.darkmode img,
.darkmode h1,
.darkmode h4,
.darkmode span,
.darkmode div {
  background-color: var(--dark-body);
}
.darkmode h1 {
  color: var(--dark-title-color);
}
.darkmode .nav-menu-destop ul {
  background: var(--dark-body);
}
.darkmode .nav-menu-destop ul li {
  background: var(--dark-body);
  color: var(--dark-title-color);
  transition:all .5s ease;
}
.darkmode .nav-menu-destop ul li:hover {
  color: var(--dark-text-color);
}
.darkmode h4,
.darkmode div {
  color: var(--dark-text-color);
}
.darkmode .footer-container div h2,
.darkmode .footer-container div h4 {
  background-color: transparent;
}
.join-container h1 {
  color: white;
}
.join-container h4 {
  color: white;
}
.darkmode .health-container .dark-mode-image {
  display: block;
}
.darkmode .routine-container .dark-mode-image {
  display: block;
}
.darkmode .health-container .light-mode-image {
  display: none;
}
.darkmode .routine-container .light-mode-image {
  display: none;
}
.darkmode .nav-menu .cancel-btn :nth-child(1) {
  display: none;
}
.darkmode .nav-menu .cancel-btn :nth-child(2) {
  display: block;
  background: var(--dark-menu-color);
}
.darkmode .nav-menu {
  background: var(--dark-menu-color);
}
.darkmode .nav-menu ul {
  background: var(--dark-menu-color);
}
.darkmode .nav-menu ul li {
  background: var(--dark-menu-color);
  color: var(--dark-title-color);
}
.darkmode .nav-menu ul .home {
  background: var(--gradient-color);
  background-clip: text;
  color: transparent;
}
.header-tools div {
  color: var(--dark-title-color);
}

.darkmode .header-tools div :nth-child(2) {
  display: block;
}
.darkmode .header-tools div :nth-child(1) {
  display: none;
}
