@media (max-width: 768px) {
  /*----------follow container--------------*/
  .follow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /*----------follow container title--------------*/
  .follow-container h1 {
    text-align: center;
    font-family: "Lora", serif;
    color: var(--title-color);
    margin-bottom: 24px;
  }
  /*----------follow container subtitle--------------*/
  .follow-container h1 span {
    text-align: center;
    font-family: "Lora", serif;
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
  }
  /*----------follow container button container--------------*/
  .follow-container .button-container {
    width: 88px;
    height: 88px;
  }
  /*----------follow container button--------------*/
  .follow-container button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient-color);
    padding: 16.5px 2.6px;
    border-radius: 64px;
    width: 100%;
    height: 100%;
    color: #ffffff;
  }
  /*----------health container button arrow--------------*/
  .follow-container button i {
    background: none;
    color: #ffffff;
    font-size: 16px;
    margin-left: 4px;
  }

  .follow-container :nth-child(4) {
    margin-bottom: 32px;
  }
}
@media (min-width: 769px) {
  /*----------follow container--------------*/
  .follow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /*----------follow container title--------------*/
  .follow-container h1 {
    text-align: center;
    font-family: "Lora", serif;
    color: var(--title-color);
    margin-bottom: 24px;
  }
  /*----------follow container subtitle--------------*/
  .follow-container h1 span {
    text-align: center;
    font-family: "Lora", serif;
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
  }
  /*----------follow container button container--------------*/
  .follow-container .button-container {
    width: 88px;
    height: 88px;
  }
  /*----------follow container button--------------*/
  .follow-container button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient-color);
    padding: 16.5px 2.6px;
    border-radius: 64px;
    width: 100%;
    height: 100%;
    color: #ffffff;
  }
  /*----------health container button arrow--------------*/
  .follow-container button i {
    background: none;
    color: #ffffff;
    font-size: 16px;
    margin-left: 4px;
  }

  .follow-container :nth-child(4) {
    margin-bottom: 32px;
  }
}
