@media (max-width: 768px) {
  body {
    min-width: 376px;
  }
  .nav-menu-destop {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;
    padding-bottom: 40px;
  }
  .header-tools {
    display: flex;
    align-items: center;
  }
  .darkmode-icon {
    margin-right: 20px;
  }
  .darkmode-icon:hover {
    cursor: pointer;
  }
  .menu:hover {
    cursor: pointer;
  }
  .header-tools div :nth-child(1) {
    display: block;
  }
  .header-tools div :nth-child(2) {
    display: none;
  }
}

@media (min-width: 769px) {
  .header .menu {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;
    padding-bottom: 40px;
  }
  .nav-menu-destop ul {
    padding: 0;
    width: 316px;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  .nav-menu-destop ul li:hover {
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
  }

  .nav-menu-destop ul a {
    text-decoration: none;
  }
  .nav-menu {
    display: none;
  }
  .header-tools {
    display: flex;
    align-items: center;
  }
  .darkmode-icon {
    margin-right: 20px;
  }
  .darkmode-icon:hover {
    cursor: pointer;
  }
  .menu:hover {
    cursor: pointer;
  }
  .header-tools div :nth-child(1) {
    display: block;
  }
  .header-tools div :nth-child(2) {
    display: none;
  }
}
