@media (max-width: 376px) {
  .join-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 16px;
    margin: 24px;
    border-radius: 32px;
    justify-content: center;
    background: var(--gradient-color);
  }
  .join-container h1,
  .join-container h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--gradient-color);
  }
  .join-container form {
    display: flex;
    background: var(--gradient-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .join-container h1 {
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 100;
    font-size: 28px;
    margin-bottom: 12px;
    color: white;
  }
  .join-container h4 {
    text-align: center;
    font-size: 28px;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 12px;
    color: white;
  }
  .join-container input {
    width: 220px;
    outline: none;
    border: none;
    height: 64px;
    margin: 0 10px;
    margin-bottom: 12px;
    border-radius: 48px;
    padding: 0px 24px;
  }

  .join-container button {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background: var(--gradient-color);
    padding: 16.5px 2.6px;
    border-radius: 64px;
    width: 90%;
    height: 100%;
    box-shadow: 5px 5px 10px var(--first-color);
    color: #ffffff;
  }
  /*----------health container button arrow--------------*/
  .join-container button i {
    background: none;
    color: #ffffff;
    font-size: 16px;
    margin-left: 4px;
  }
}
