@media (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    width:0;
    height: 640px;
    overflow:hidden;
    transition:width .5s ease-in-out
  }
  .nav-menu .cancel-btn {
    position: absolute;
    top: 20px;
    right: 26px;
    cursor:pointer
  }
  
  .nav-menu .cancel-btn :nth-child(2){
    display:none;
  }
  
  .nav-menu ul {
    width: fit-content;
    margin-left:48px;
    padding:0;
    list-style: none;
    margin-top: 72px;
    font-size: 15px;
  }
  .nav-menu ul .home {
   background: var(--gradient-color);
   background-clip: text;
   color: transparent;
  }
  .nav-menu a {
    text-decoration: none;
    color: var(--title-color);
    font-family:"Lora",serif;
  }
  .nav-menu ul li {
    margin-bottom: 48px;
    color:var(--title-color)
  }
}
